.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 51.2em 1456.9em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.arrow-down:before {
      background-position: 0em 0em;
      width: 12.9em;
      height: 12.9em;
  }




  .icon.arrow-left:before {
      background-position: 0em -12.9em;
      width: 47.7175em;
      height: 47.7175em;
  }




  .icon.arrow-right:before {
      background-position: 0em -60.7em;
      width: 47.7175em;
      height: 47.7175em;
  }




  .icon.arrow-up:before {
      background-position: 0em -108.5em;
      width: 6.4em;
      height: 6.4em;
  }




  .icon.attest:before {
      background-position: 0em -114.9em;
      width: 6em;
      height: 6em;
  }




  .icon.cancel:before {
      background-position: 0em -120.9em;
      width: 47.519999999999996em;
      height: 47.519999999999996em;
  }




  .icon.case:before {
      background-position: 0em -168.5em;
      width: 6em;
      height: 6em;
  }




  .icon.checked:before {
      background-position: 0em -174.5em;
      width: 2.6em;
      height: 2.6em;
  }




  .icon.close:before {
      background-position: 0em -177.1em;
      width: 5.4422em;
      height: 5.4422em;
  }




  .icon.coins:before {
      background-position: 0em -182.6em;
      width: 6em;
      height: 6em;
  }




  .icon.doc:before {
      background-position: 0em -188.6em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.garbage:before {
      background-position: 0em -239.8em;
      width: 5.9em;
      height: 5.9em;
  }




  .icon.hand:before {
      background-position: 0em -245.7em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.heart:before {
      background-position: 0em -296.9em;
      width: 47.170100000000005em;
      height: 47.170100000000005em;
  }




  .icon.house:before {
      background-position: 0em -344.1em;
      width: 48.619600000000005em;
      height: 48.619600000000005em;
  }




  .icon.house-plan-scale:before {
      background-position: 0em -392.8em;
      width: 15.190999999999999em;
      height: 15.190999999999999em;
  }




  .icon.house-plans:before {
      background-position: 0em -408em;
      width: 17.4em;
      height: 17.4em;
  }




  .icon.interface:before {
      background-position: 0em -425.4em;
      width: 49.04em;
      height: 49.04em;
  }




  .icon.key:before {
      background-position: 0em -474.5em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.like:before {
      background-position: 0em -525.7em;
      width: 49.019999999999996em;
      height: 49.019999999999996em;
  }




  .icon.magnifying-glass:before {
      background-position: 0em -574.8em;
      width: 45.1em;
      height: 45.1em;
  }




  .icon.mail:before {
      background-position: 0em -619.9em;
      width: 48.33em;
      height: 48.33em;
  }




  .icon.map:before {
      background-position: 0em -668.3em;
      width: 5.5em;
      height: 5.5em;
  }




  .icon.measuring-tools:before {
      background-position: 0em -673.8em;
      width: 2.9514em;
      height: 2.9514em;
  }




  .icon.menu:before {
      background-position: 0em -676.8em;
      width: 45.9em;
      height: 45.9em;
  }




  .icon.metro:before {
      background-position: 0em -722.7em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.money:before {
      background-position: 0em -773.9em;
      width: 6em;
      height: 6em;
  }




  .icon.phone:before {
      background-position: 0em -779.9em;
      width: 48.056em;
      height: 48.056em;
  }




  .icon.phone-call:before {
      background-position: 0em -828em;
      width: 47.3806em;
      height: 47.3806em;
  }




  .icon.placeholder:before {
      background-position: 0em -875.4em;
      width: 47.7em;
      height: 47.7em;
  }




  .icon.plan:before {
      background-position: 0em -923.1em;
      width: 5.9em;
      height: 5.9em;
  }




  .icon.planning:before {
      background-position: 0em -929em;
      width: 49em;
      height: 49em;
  }




  .icon.posred:before {
      background-position: 0em -978em;
      width: 26.4355em;
      height: 26.4355em;
  }




  .icon.protractor:before {
      background-position: 0em -1004.5em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.result:before {
      background-position: 0em -1055.7em;
      width: 6em;
      height: 6em;
  }




  .icon.share:before {
      background-position: 0em -1061.7em;
      width: 48.160000000000004em;
      height: 48.160000000000004em;
  }




  .icon.soc-facebook:before {
      background-position: 0em -1109.9em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-google:before {
      background-position: 0em -1161.1em;
      width: 9.6669em;
      height: 9.6669em;
  }




  .icon.soc-in:before {
      background-position: 0em -1170.8em;
      width: 43.011700000000005em;
      height: 43.011700000000005em;
  }




  .icon.soc-instagram:before {
      background-position: 0em -1213.9em;
      width: 29.1319em;
      height: 29.1319em;
  }




  .icon.soc-ok:before {
      background-position: 0em -1243.1em;
      width: 9.5481em;
      height: 9.5481em;
  }




  .icon.soc-twitter:before {
      background-position: 0em -1252.7em;
      width: 41.015499999999996em;
      height: 41.015499999999996em;
  }




  .icon.soc-vk:before {
      background-position: 0em -1293.8em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-youtube:before {
      background-position: 0em -1345em;
      width: 6.4em;
      height: 6.4em;
  }




  .icon.star:before {
      background-position: 0em -1351.4em;
      width: 49.0727em;
      height: 49.0727em;
  }




  .icon.time:before {
      background-position: 0em -1400.5em;
      width: 6em;
      height: 6em;
  }




  .icon.worker:before {
      background-position: 0em -1406.5em;
      width: 50.3607em;
      height: 50.3607em;
  }





