.menu__list {
  padding: 0;
}
.menu__list a {
  padding: 0;
  text-transform: initial;
  text-align: left;
}
.menu__list .sub-menu {
  padding-left: 20px;
  width: 100%;
  position: static;
  display: block;
}
.table {
  min-width: 290px;
  display: block;
  overflow: auto;
}
.content {
  margin-bottom: 80px;
}
.section--doc h3 {
  padding: 20px;
  background: #f7f7f7;
  margin-bottom: 20px;
  font-size: 16px;
}
.section--doc p {
  margin-bottom: 20px;
}
.about {
  background-color: #efeeee;
}
@media only screen and (max-width: 768px) {
  .content {
    margin-bottom: 30px;
  }
}
