.menu__list
	padding: 0
	a
		padding: 0
		text-transform: initial
		text-align: left
	.sub-menu
		padding-left: 20px
		width: 100%
		position: static
		display: block

.table
	min-width 290px
	display: block
	overflow: auto